.blog-page{
    padding: 100px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100%;
}
.blog-page .blog-image{
    margin-top: 20px;
    position: relative;
    width: 60%;
}
.blog-page .blog-image img{
    position: relative;
    width: 100%;
    height: 200px;
    height: 100%;
    margin-bottom: 40px;
    border-radius: 20px;
}
.blog-page .blog-questions{}
.blog-page .blog-questions h2{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 30px;
    color: #262b3e;
    margin-bottom: 20px;
}
.blog-page .blog-questions p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
