.service-section{}
.service-section .left-column {
    background: url("../../../Assets/Images/ceo-img.jpg") center top/cover no-repeat local;
    max-width: 100%;
    padding: 90px;
    position: relative;
    display: table;
    border-radius: 10px 0px 0px 10px;
    height: 410px;


}
.service-section .left-column:before {
    content: "";
    background: #262b3e;
    background: -webkit-linear-gradient(top, transparent, #262b3e);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px 0px 0px 10px;

}
.service-section .left-column .inner-content {
    display: table-cell;
    vertical-align: bottom;
    position: relative;
}
.service-section .left-column .inner-content h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    margin: 1.5em 0 0.3em;
}
.service-section .left-column .inner-content h3{
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    color: #fff;
    margin-top: 40px;
    margin-bottom: -10px;
}
.service-section .left-column .inner-content p{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-top: -10px;
}
.service-section .right-column {
    height: 410px;
    margin: 0;
    background-color: #262b3e;
    max-width: 100%;
    padding: 110px 120px 44px 60px;
    border-radius: 0 10px 10px 0px;
}
.section-title-s2{
    margin-bottom: 30px;
}
.section-title-s2 .icon-div {
    position: relative;
    width: 50%;
    height: 100%;
}
.section-title-s2 .icon-div .react-icon {
    background-color: #c8b38b;
    color: #fff;
    height: 60px;
    width: 60px;
    padding: 8px;
    border-radius: 50%;
    border: 5px solid #fff;
    font-size: 12px;
}
.section-title-s2 .icons-side-info span{
    color: #c8b38b;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    list-style: 1px;
    text-transform: uppercase;
}
.section-title-s2 .icons-side-info h2{
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    line-height: 42px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 20px;
}
.section-title-s2 .icons-side-info p{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
}


/* 
.service-boxes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.service-boxes .service-box{
    padding-left: 80px;
    
}
.service-boxes .service-box .icon-div{}
.service-boxes .service-box .icon-div .react-icon{
    background-color: #c8b38b;
    color: #fff;
    height: 60px;
    width: 60px;
    padding: 8px;
    border-radius: 50%;
    border: 5px solid #fff;
    font-size: 12px;
} */