.service-section{}
.service-section .left-column {
    background: url("../../../Assets/Images/ceo-img.jpg") center top/cover no-repeat local;
    max-width: 100%;
    padding: 90px;
    position: relative;
    display: table;
    border-radius: 10px 0px 0px 10px;
    height: 410px;


}
.service-section .left-column:before {
    content: "";
    background: #262b3e;
    background: -webkit-linear-gradient(top, transparent, #262b3e);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px 0px 0px 10px;

}
.service-section .left-column .inner-content {
    display: table-cell;
    vertical-align: bottom;
    position: relative;
}
.service-section .left-column .inner-content h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    margin: 1.5em 0 0.3em;
}
.service-section .left-column .inner-content h3{
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    color: #fff;
    margin-top: 40px;
    margin-bottom: -10px;
}
.service-section .left-column .inner-content p{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-top: -10px;
}
.service-section .right-column {
    height: 410px;
    margin: 0;
    background-color: #262b3e;
    max-width: 100%;
    padding: 110px 120px 44px 60px;
    border-radius: 0 10px 10px 0px;
}
.section-title-s2{
    margin-bottom: 30px;
}
.section-title-s2 .icon-div {
    position: relative;
    width: 50%;
    height: 100%;
}
.section-title-s2 .icon-div .react-icon {
    background-color: #c8b38b;
    color: #fff;
    height: 60px;
    width: 60px;
    padding: 8px;
    border-radius: 50%;
    border: 5px solid #fff;
    font-size: 12px;
}
.section-title-s2 .icons-side-info span{
    color: #c8b38b;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    list-style: 1px;
    text-transform: uppercase;
}
.section-title-s2 .icons-side-info h2{
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    line-height: 42px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 20px;
}
.section-title-s2 .icons-side-info p{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
}


.service-bottom-section{}
.service-bottom-section .first-column {
    background: url("../../../Assets/Images/feature-info-col-bg.jpg") center center/cover no-repeat local;
    padding: 55px 35px;
    position: relative;
}
.service-bottom-section .first-column:before {
    content: "";
    background: #262b3e;
    background-image: -webkit-linear-gradient(90deg, #262b3e 62%, #c9b38c 96%, #c9b38c 97%, #c9b38c 100%);
    background-image: -moz-linear-gradient(90deg, #262b3e 62%, #c9b38c 96%, #c9b38c 97%, #c9b38c 100%);
    background-image: -ms-linear-gradient(90deg, #262b3e 62%, #c9b38c 96%, #c9b38c 97%, #c9b38c 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.95;
}
.service-bottom-section .first-column h4 {
    font-size: 22px;
    font-size: 1.375rem;
    color: #fff;
    line-height: 1.5em;
    margin: 0 0 1.5em;
}
.service-bottom-section .first-column h4, .service-bottom-section .first-column a {
    position: relative;
}

.service-bottom-section .first-column .contact-btn {
    text-decoration: none;
    background-color: #fff;
    color: #262b3e;
    font-weight: 700;
    font-size: 15px;
    font-size: 0.9375rem;
    padding: 13px 25px;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    text-transform: capitalize;
    display: inline-block;
    transition: .4s;
}
.service-bottom-section .first-column .contact-btn:hover{
    box-sizing: border-box;
    background-color: #262b3e;
    color: #fff;
    
}

.service-bottom-section .feature-grid {
    border: 2px solid #f3f0f0;
    padding: 40px 28px;
}

.service-bottom-section .feature-grid:hover{
    color: #fff;
    background-color: #c9b38c;
    border-color: #c9b38c;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.service-bottom-section .feature-grid:hover .skill-icon{
    color: #fff;
}

.service-bottom-section .feature-grid .skill-icon{
    width: 48px;
    height: 56px;
    color: #c8b38b;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.service-bottom-section .feature-grid h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0.8em 0 1em;
}
.service-bottom-section .feature-grid p {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.feature-grid .contact-btn{
    text-decoration: none;
    background-color: #fff;
    color: #262b3e;
    font-weight: 700;
    font-size: 15px;
    font-size: 0.9375rem;
    padding: 13px 25px;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    text-transform: capitalize;
    display: inline-block;
    transition: .4s;
}
.feature-grid .contact-btn:hover{
    box-sizing: border-box;
    background-color: #262b3e;
    color: #fff;
}