.service-section{}
.service-section .left-column {
    background: url("../../../Assets/Images/ceo-img.jpg") center top/cover no-repeat local;
    max-width: 100%;
    padding: 90px;
    /* float: left; */
    position: relative;
    display: table;
}
.service-section .left-column:before {
    content: "";
    background: #262b3e;
    background: -webkit-linear-gradient(top, transparent, #262b3e);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.service-section .left-column .inner-content {
    display: table-cell;
    vertical-align: bottom;
    position: relative;
}